appdirs==1.4.4
asgiref==3.2.10
automium==0.2.6
automium-web==0.1.1
beautifulsoup4==4.9.1
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cloudinary==1.24.0
cryptography==3.3.1
cycler==0.10.0
distlib==0.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.7
django-ajax==0.3.0
django-heroku==0.3.1
django-pagarme==0.25
django-paypal==1.0.0
django-phonenumber-field==5.0.0
django-pwa==1.0.10
django-toolbelt==0.0.1
django-widget-tweaks==1.4.8
filelock==3.0.12
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.3.1
legacy==0.1.6
MarkupSafe==1.1.1
matplotlib==3.3.0
nose==1.3.7
numpy==1.19.0
pagarme-python==4.0.1
paypal-checkout-serversdk==1.0.1
paypalhttp==1.0.0
phonenumberslite==8.12.17
pillow==8.1.0
pipenv==2020.11.15
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
static3==0.7.0
urllib3==1.25.11
validate-docbr==1.8.2
virtualenv==20.4.2
virtualenv-clone==0.5.4
Werkzeug==1.0.1
whitenoise==5.2.0
