<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

{% extends "blocks/base.html" %}
{% load static %}
{% block conteudo %}
{% load cloudinary %}

    <script type="text/javascript">

        $(document).on('blur','#pdt_nome', function(){
            var prod = $(this).text().split(':')[1];

            var proid = $(this).siblings('#pdt_id').val();
            console.log('dalipdt >', proid);
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: 'POST',
                url: "{% url 'prod' %}",
                dataType: "json",
                data: {
                    'pdt_nome' :prod,
                    'proid':proid
                },
                success: function (response) {
                },
                error: function (response) {
                }
            });

        });

        $(document).on('blur','#pdt_est', function(){
            var prod = $(this).text().split(':')[1];
            var proid = $(this).siblings('#pdt_id').val();
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: 'POST',
                url: "{% url 'prod' %}",
                dataType: "json",
                data: {
                    'pdt_est' :prod,
                    'proid':proid
                },
                success: function (response) {
                },
                error: function (response) {
                }
            });

        });

        $(document).on('blur','#pdt_des', function(){
            var prod = $(this).text().split(':')[1];
            console.log('dalipdt >', prod);
            var proid = $(this).siblings('#pdt_id').val();
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: 'POST',
                url: "{% url 'prod' %}",
                dataType: "json",
                data: {
                'proid':proid,
                'pdt_des' :prod
                },
                success: function (response) {
                },
                error: function (response) {
                }
            });

        });

        $(document).on('blur','#pdt_pre', function(){
            var prod = $(this).text().split(':')[1];
            console.log('dalipdt >', prod);
            var proid = $(this).siblings('#pdt_id').val();
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: 'POST',
                url: "{% url 'prod' %}",
                dataType: "json",
                data: {
                    'proid':proid,
                    'pdt_pre' :prod
                },
                success: function (response) {
                },
                error: function (response) {
                }
            });


        });

        $(document).on('blur','#pdt_tipo', function(){
            var prod = $(this).val();
            console.log('éoprod', prod);
            var proid = $(this).parent().siblings('#pdt_id').val();
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: 'POST',
                url: "{% url 'prod' %}",
                dataType: "json",
                data: {
                    'pdt_tipo' :prod,
                    'proid':proid
                },
                success: function (response) {
                },
                error: function (response) {
                }
            });

        });

        $(document).on('click','#btn_del',function(){
            var prod = $(this).val();
            var proid = $('#pdt_id').siblings('#pdt_id').val();
            $.ajax({
                headers: { "X-CSRFToken": '{{csrf_token}}' },
                type: 'POST',
                url: "{% url 'prod' %}",
                dataType: "json",
                data: {
                    'btn_del' :prod,
                    'proid':proid
                },
                success: function (response) {
                },
                error: function (response) {
                }
            });

        });
        $(document).on('click','data-toggle',function(e) {
            if( $(e.target).is('a') ) {
                $(this).collapse('hide');
            }
        });

    </script>

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" id="msg" role="alert" style="background-color:powderblue; margin-top: 20px; padding: 10px; font-size: medium;  ">
            <button style="font-size: 22px;  align-self: flex-end" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
    <!-- ======= Contact Section ======= -->
    {% if prod and user.loja %}




    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Novo Produto</h2>
          <p>Menu exclusivo para o cadastro de produtos</p>
        </div>
<!--        {{prod.nome.name}}-->
<!--        {{prod.nome.label}}-->
        <div class="row">



            <div class="col-lg mt-5 mt-lg-0">

            <form action="{% url 'conta' %}" enctype="multipart/form-data" method="post" role="form"  data-aos="fade-left">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome do produto" data-rule="minlen:4" data-msg="Informe o nome do produto" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <select type="test" class="form-control" name="tipo" id="tipo"  data-rule="tipo" data-msg="Selecione um tipo" />
                    {% for t in prodtipo %}
                      <option value="{{t.0}}">{{t.1}}</option>

                    {% endfor %}
                  </select>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="preco" id="preco" placeholder="Preço" data-rule="minlen:1" data-msg="Informe o preço do produto" />
                <div class="validate"></div>
              </div>
              <div class="form-group">

                  {{prod.img_prod}}
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="estoque" id="estoque" placeholder="Quantidade" data-rule="minlen:1" data-msg="Informe o estoque do novo produto aqui" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="descricao" rows="5" data-msg="Insira aqui a descrição do produto" placeholder="Descrição do produto"></textarea>
                <div class="validate"></div>
              </div>

              <div class="text-center"><button type="submit">Cadastrar</button></div>
              {% csrf_token %}
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

            <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="produtos" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Meus Produtos</h2>
        </div>

        <ul class="faq-list">
          {% for p in produtos %}
            <li data-aos="fade-up" data-aos-delay="{{ forloop.counter }}00">
              <a data-toggle="ta_{{p.id}}" class="collapse" href="#" ><b>{{p.nome}}</b><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="ta_{{p.id}}" class="collapse  " data-parent=".faq-list">
                <div class="row ">
                    <input type="hidden" value="{{p.id}}" name="pdt_id" id="pdt_id">
                    <label type="text"  name="pdt_nome" id="pdt_nome" class="editable input-group-text mx-3" contenteditable="true" value="{{p.nome}}">Nome: <b>{{p.nome}}</b></label>
                    <label type="number" contenteditable="true" class="editable input-group-text mx-3" name="pdt_est" id="pdt_est" value='{{p.estoque}}'>Estoque:   <b>{{p.estoque}}</b></label>

                    <label type="text"  name="pdt_des" id="pdt_des" class="editable input-group-text mx-3" contenteditable="true" value="{{p.descricao}}">Descrição:  <b>{{p.descricao}}</b></label>

                  <label type="number" contenteditable="true" class="editable input-group-text mx-3" class="editable " name="pdt_pre" id="pdt_pre" value='{{p.preco}}'>Preço:  <b>{{p.preco}}</b></label>

                    <div class="input-group-prepend ">
                        <label class="editable input-group-text" >Tipo</label>

                        <select name="pdt_tipo" id="pdt_tipo" class=" custom-select justify-content-end" style="width: auto">

                        {% for pt in prodtipo %}
<!--                            {{p.tipo}}-->
                            {% if p.tipo == pt.0 %}
                            <option value="{{pt.0}}" selected ><b>{{pt.1}}</b></option>
                            {% else %}
                            <option value="{{pt.0}}" ><b>{{pt.1}}</b></option>
                            {% endif %}
                        {% endfor %}
                        </select>
                    </div>
                    <button type="button"  name="btn_del" id="btn_del" class="btn text-alert input-group-text mx-3" value="{{p.descricao}}"><b>{{'Deletar'}}</b></button>
                </div>
                <p>
                    <img class="card-img-top pb-5" style="width: 18rem;" src="{{p.img_prod.url}}" alt="">
                </p>
              </div>
            </li>
          {% empty %}
            <li data-aos="fade-up">
              <a data-toggle="collapse" class="collapsed" href="  #"><b>{{'Sem produtos até o momento'}}</b><i class="bx bx-x icon-close"></i></a>

            </li>
          {% endfor %}


        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    {% endif %}
      <!-- ======= Pricing Section ======= -->
    {% if  user.loja == False %}
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Loja</h2>
          <p>venda seus produtos</p>
        </div>

        <div class="row d-flex justify-content-center">



          <div class="col-lg-4 mt-4">
            <div class="box recommended" data-aos="zoom-in">
              <span class="recommended-badge">Recommended</span>
              <h3>Habilitar-se loja</h3>
              <h4><sup>$</sup>19<span> / Mês</span></h4>
              <ul>
                <li>Cadastr-se como uma loja</li>
                <li>habilite-se para cadastrar produtos</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>

              </ul>
              <div class="btn-wrap">
                <form method="post">
                  {% csrf_token %}
                  <li class="na">{{ usuario.loja }}</li>
                  <input type="hidden" name="lojasim" value="sim" class="btn-buy">
                  <button type="submit" class="btn-buy">Habilitar</button>
                </form>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Pricing Section -->

    {% endif %}
    {% for pe in pedidos %}
        {{pe.quantidade}}
    {% endfor %}

        <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container justify-content-center">

        <div class="section-title" data-aos="fade-up">
          <h2>Meu Carrinho</h2>
        </div>

        <ul class="faq-list">
          {% if produtos %}



<!--            {% for p in produtos %}-->
              {% for c in carrinho.produto_cli.all %}
<!--                {% if p.id == c.id %}-->
                  <li data-aos="fade-up" data-aos-delay="{{ forloop.counter }}00">
                    <a data-toggle="collapse" href="#tab_{{ forloop.counter }}"  class="collapsed"><b>{{p.nome}}</b><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                    <div id="tab_{{ forloop.counter }}" class="collapse pdt" data-parent=".faq-list">

                      <p>

                        <b id="nome_prod">{{c.nome}}</b>
                      </p>
                        <b id="preco_prod">R${{c.preco}}</b> X <b id="quantidade_total">{{ forloop.revcounter }}</b>
                      </p>
                        <img class="card-img-top pb-5" style="width: 18rem;" src="{{c.img_prod.url}}" alt="{{c.nome}}">
                      <p>

                        <div>


                        </div>
                      </p>







                    </div>

                  </li>
<!--                {%endif%}-->

              {%endfor%}

<!--            {%endfor%}-->

        <div id="smart-button-container">
            <div class="section-title" data-aos="fade-up">
                <h3><b><u>Valor do Carrinho: R$ {{carrinho.valor}}</u></b></h3>
            </div>
          <div style="text-align: center;">
            <div id="checkout-button-container">
                
                {{ 'CHECKOUT' }}
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modcartao">{{ 'CARTÃO' }}</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modpix">{{ 'PIX' }}</button>
            </div>
              <div class="modal fade" id="modcartao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


          {% else %}
            <li data-aos="fade-up" data-aos-delay="100">
              <a data-toggle="collapse"  class="collapsed"><b>{{'Sem produtos no carrinho até o momento'}}</b></a>

            </li>
          {% endif %}
        </ul>

      </div>



    </section>

{% endblock %}

