<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

{% extends "blocks/base.html" %}
{% load static %}
{% block conteudo %}
{% load cloudinary %}

    <script type="text/javascript">
        $(document).ready(function() {
            // messages timeout for 10 sec
            setTimeout(function() {
                $('.message').fadeOut('slow');
            }, 10000); // <-- time in milliseconds, 1000 =  1 sec

            // delete message
            $('.del-msg').live('click',function(){
                $('.del-msg').parent().attr('style', 'display:none;');
            })
        });
    </script>
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" id="msg" role="alert" style="background-color:powderblue; margin-top: 20px; padding: 10px; font-size: medium;  ">
            <button style="font-size: 22px;  align-self: right" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
    <!-- ======= Contact Section ======= -->
    {% if prod and user.loja %}




    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Novo Produto</h2>
          <p>Menu exclusivo para o cadastro de produtos</p>
        </div>
<!--        {{prod.nome.name}}-->
<!--        {{prod.nome.label}}-->
        <div class="row">



            <div class="col-lg mt-5 mt-lg-0">

            <form action="{% url 'conta' %}" enctype="multipart/form-data" method="post" role="form"  data-aos="fade-left">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome do produto" data-rule="minlen:4" data-msg="Informe o nome do produto" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <select type="test" class="form-control" name="tipo" id="tipo"  data-rule="tipo" data-msg="Selecione um tipo" />
                    {% for t in prodtipo %}
                      <option value="{{t.0}}">{{t.1}}</option>

                    {% endfor %}
                  </select>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="preco" id="preco" placeholder="Preço" data-rule="minlen:1" data-msg="Informe o preço do produto" />
                <div class="validate"></div>
              </div>
              <div class="form-group">

                  {{prod.img_prod}}
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="number" class="form-control" name="estoque" id="estoque" placeholder="Quantidade" data-rule="minlen:1" data-msg="Informe o estoque do novo produto aqui" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="descricao" rows="5" data-msg="Insira aqui a descrição do produto" placeholder="Descrição do produto"></textarea>
                <div class="validate"></div>
              </div>

              <div class="text-center"><button type="submit">Cadastrar</button></div>
              {% csrf_token %}
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

            <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="produtos" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Meus Produtos</h2>
        </div>

        <ul class="faq-list">
          {% for p in produtos %}
            <li data-aos="fade-up" data-aos-delay="{{ forloop.counter }}00">
              <a data-toggle="collapse" class="collapsed" href="#ta_{{p.id}}"><b>{{p.nome}}</b><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
              <div id="ta_{{p.id}}" class="collapse" data-parent=".faq-list">
                <p>
                    <label>Estoque:  -</label> <label type="number" contenteditable="true" class="editable" name="pdt_est" value='{{p.estoque}}'>{{p.estoque}}</label>
                </p>
                <p>
                    <label>Nome: </label> <input type="text" name="pdt_nome" value="{{p.nome}}"><br>
                    <label>Descrição: </label> <input type="text" name="pdt_des" value="{{p.descricao}}">
                    <br>
                </p>
                <p>
                    <label>Preço: </label> <label type="number" contenteditable="true" class="editable" name="pdt_pre" value='{{p.preco}}'>{{p.preco}}</label>

                </p>
                <p>
                    <label>Tipo</label>
                    <select>

                    {% for pt in prodtipo %}

                        {% if p.tipo == pt %}
                            <option value="{{pt.0}}" class="selected" >{{pt.1}}</option>
                        {% else %}
                            <option value="{{pt.0}}">{{pt.1}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                </p>
                <p>
                    <img class="card-img-top pb-5" style="width: 18rem;" src="{{p.img_prod.url}}" alt="">
                </p>
              </div>
            </li>
          {% empty %}
            <li data-aos="fade-up">
              <a data-toggle="collapse" class="collapsed" href="  #"><b>{{'Sem produtos até o momento'}}</b><i class="bx bx-x icon-close"></i></a>

            </li>
          {% endfor %}


        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    {% endif %}
      <!-- ======= Pricing Section ======= -->
    {% if  user.loja == False %}
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Loja</h2>
          <p>venda seus produtos</p>
        </div>

        <div class="row d-flex justify-content-center">



          <div class="col-lg-4 mt-4">
            <div class="box recommended" data-aos="zoom-in">
              <span class="recommended-badge">Recommended</span>
              <h3>Habilitar-se loja</h3>
              <h4><sup>$</sup>19<span> / Mês</span></h4>
              <ul>
                <li>Cadastr-se como uma loja</li>
                <li>habilite-se para cadastrar produtos</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>

              </ul>
              <div class="btn-wrap">
                <form method="post">
                  {% csrf_token %}
                  <li class="na">{{ usuario.loja }}</li>
                  <input type="hidden" name="lojasim" value="sim" class="btn-buy">
                  <button type="submit" class="btn-buy">Habilitar</button>
                </form>
              </div>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Pricing Section -->

    {% endif %}
    {% for pe in pedidos %}
        {{pe.quantidade}}
    {% endfor %}

        <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container justify-content-center">

        <div class="section-title" data-aos="fade-up">
          <h2>Meu Carrinho</h2>
        </div>

        <ul class="faq-list">
          {% if produtos %}



<!--            {% for p in produtos %}-->
              {% for c in carrinho.produto_cli.all %}
<!--                {% if p.id == c.id %}-->
                  <li data-aos="fade-up" data-aos-delay="{{ forloop.counter }}00">
                    <a data-toggle="collapse" href="#tab_{{ forloop.counter }}" class="collapsed"><b>{{p.nome}}</b><i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                    <div id="tab_{{ forloop.counter }}" class="collapse pdt" data-parent=".faq-list">

                      <p>

                        <b id="nome_prod">{{c.nome}}</b>
                      </p>
                        <b id="preco_prod">R${{c.preco}}</b> X <b id="quantidade_total">{{ forloop.revcounter }}</b>
                      </p>
                        <img class="card-img-top pb-5" style="width: 18rem;" src="{{c.img_prod.url}}" alt="">
                      <p>

                        <div>


                        </div>
                      </p>







                    </div>

                  </li>
<!--                {%endif%}-->

              {%endfor%}
<!--            {%endfor%}-->
                <div id="smart-button-container">
      <div style="text-align: center;">
        <div style="margin-bottom: 1.25rem;">
          <p>Compra GBlackStore</p>
          <select id="item-options"><option value="1X" price="50">1X - 50 BRL</option><option value="2X" price="25">2X - 25 BRL</option><option value="3X" price="16.70">3X - 16.70 BRL</option></select>
<!--          <select style="visibility: hidden" id="quantitySelect"><option value="1">1</option><option value="2">2</option><option value="3">3</option></select>-->
        </div>
      <div id="paypal-button-container"></div>
      </div>
    </div>
    <script src="https://www.paypal.com/sdk/js?client-id=AeiuNrrRAuS4rFA1VhDtnS_L47TrJ6wakg5by7FOLdJ4JQalehB1Najy7HU6iTeJMKKfj7csQDFhSQuV&currency=BRL" data-sdk-integration-source="button-factory"></script>
    <script>
      function initPayPalButton() {
        var shipping = 15;
        var itemOptions = document.querySelector("#smart-button-container #item-options");
        console.log(itemOptions);
        var quantity = parseInt(3);
        var aux = document.querySelector("#smart-button-container #item-options ");
        console.log(aux);
        var quantitySelect = aux;
        if (!isNaN(quantity)) {
          quantitySelect.style.visibility = "visible";
        }
        var orderDescription = 'Compra GBlackStore';
        if(orderDescription === '') {
          orderDescription = 'Item';
        }
        paypal.Buttons({
          style: {
            shape: 'pill',
            color: 'silver',
            layout: 'vertical',
            label: 'paypal',

          },
          createOrder: function(data, actions) {
            var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
            var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
            console.log('priceee',selectedItemPrice);
            var tax = (7 === 0) ? 0 : (selectedItemPrice * (parseFloat(7)/100));
            if(quantitySelect.options.length > 0) {
              quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
            } else {
              quantity = 1;
            }

            tax *= quantity;
            tax = Math.round(tax * 100) / 100;
            var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
            priceTotal = Math.round(priceTotal * 100) / 100;
            var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;

<!--            ('.pdt')each(function() {-->
<!--                itens.append(-->
<!--                    name: $(this).find('#nome_prod').text(),-->
<!--                      unit_amount: {-->
<!--                        currency_code: 'BRL',-->
<!--                        value: $(this).find('#preco_prod').text(),-->
<!--                      },-->
<!--                    quantity: $(this).find('#quantidade_total').text()-->
<!--                );-->
<!--                ptot += parseInt($(this).find('#quantidade_total').text()) * parseFloat($(this).find('#preco_prod').text());-->
<!--            });-->


            return actions.order.create({
              purchase_units: [{
                description: orderDescription,
                amount: {
                  currency_code: 'BRL',
                  value: priceTotal,
                  breakdown: {
                    item_total: {
                      currency_code: 'BRL',
                      value: itemTotalValue,
                    },
                    shipping: {
                      currency_code: 'BRL',
                      value: shipping,
                    },
                    tax_total: {
                      currency_code: 'BRL',
                      value: 7,
                    }
                  }
                },

                items: [{

                    name: selectedItemDescription,
                      unit_amount: {
                        currency_code: 'BRL',
                        value: selectedItemPrice,
                      },
                    quantity: quantity

                }]
              }]
            });
          },
          onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
              alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
          },
          onError: function(err) {
            console.log(err);
          },
        }).render('#paypal-button-container');
      }
      initPayPalButton();
        </script>
          {% else %}
            <li data-aos="fade-up" data-aos-delay="100">
              <a data-toggle="collapse"  class="collapsed"><b>{{'Sem produtos no carrinho até o momento'}}</b></a>

            </li>
          {% endif %}
        </ul>

      </div>



    </section>

{% endblock %}

