{% block footer%}
  {% load static %}
  <footer id="footer">

      <div class="footer-top">

        <div class="container">

          <div class="row justify-content-center">
            <div class="col-lg-6">
              <a href="  #header" class="scrollto footer-logo"><img src="{% static 'img/hero-logo.png' %}" alt=""></a>
              <h3>GblackStr</h3>
              <p>Gostaria de saber mais antes de comprar ? Deixe aqui seu email.</p>
            </div>
          </div>

          <div class="row footer-newsletter justify-content-center">
            <div class="col-lg-6">
              <form action="" method="post">
                <input type="email" name="email" placeholder="Envie-nos seu email"><input type="submit" value="Subscribe">
              </form>
            </div>
          </div>

          <div class="social-links">
<!--            <a href="  #" class="twitter"><i class="bx bxl-twitter"></i></a>-->
            <a href="  https://www.facebook.com/GblackStore" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="  https://www.linkedin.com/in/guilhermeblack/" class="instagram"><i class="bx bxl-instagram"></i></a>
<!--            <a href=" https://sites.google.com/view/gblackstore" class="google-plus"><i class="bx bxl-skype"></i></a>-->
            <a href=" https://www.linkedin.com/in/guilhermeblack/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>

        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>Gblack 2021</span></strong>. Todos os Direitos Reservados
        </div>
        <div class="credits">
          Desenvolvido por <a href="  https://www.linkedin.com/in/guilhermeblack/">Guilherme S. Pereira</a>
        </div>
      </div>
    </footer><!-- End Footer -->

  <a href="  #" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Vendor JS Files -->
  <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src=" {% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src=" {% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src=" {% static 'vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src=" {% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src=" {% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src=" {% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src=" {% static 'vendor/aos/aos.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js" integrity="sha512-vSyPWqWsSHFHLnMSwxfmicOgfp0JuENoLwzbR+Hf5diwdYTJraf/m+EKrMb4ulTYmb/Ra75YmckeTQ4sHzg2hg==" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  <!-- Template Main JS File -->
  <script src=" {% static 'js/main.js' %}"></script>

{% endblock %}